###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.dev
/.env.test
/.env.prod
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> IDE ###
/.idea/
/.vscode/
*.swp
*.swo
*~
.DS_Store
###< IDE ###

###> docker ###
/docker-compose.override.yml
###< docker ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
